/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
body {
    margin: 0;
    font-family: 'Dangrek', sans-serif;
  }
  
  .content {
    padding-top: 60px; /* Offset for the fixed header */
    padding: 20px;
  }
  /* src/App.css */
.home-container {
  text-align: center;
   padding: 20px;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/bg.jpg'); /* Path to the image in the public folder */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  color: black; /* Text color to stand out against the background */
}
.text{
  margin-left:-45%;
  margin-top:-10%;
  font-size: 40px;
 line-height: 1;
}
.text p{
  font-size:20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(88, 148, 221);
  border-radius: 7px;
  border:2px solid rgb(88, 148, 221);
  color: rgb(251, 252, 253);
}
